<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="ELASTIC" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>elasticsearch:5000</destination> <!-- we will configure Logstash later -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ELASTIC"/>
    </root>

</configuration>
